$background-dark: #181818;
$background-light: #ffffff;

$text-color-dark: #000;
$text-color-light: #fff;

$dark: #000;
$light: #fff;

$background-card-dark: rgb(33, 33, 33);
$background-card-light: #fff;
